@import "~bootstrap/scss/bootstrap";

/* Global
----------------------------*/

body {
  margin-bottom: 50px;
  background-color: #f3f4f6;
}


/* Navigation
----------------------------*/

.nav-main {
  margin-bottom: 30px;
}

.sidebar {
  background-color: aqua;
}

.dashboard {
  background-color: darkgreen;
}

.bg-custom-light {
  background-image: linear-gradient(15deg,#afcadb, #9cc8c9,#97aab8);
  height: 50px;
}

.bg-custom-dark {
  background-image: linear-gradient(15deg,#5f93b6, #3a9294, #2a526c);
  height: 20px;
}


.titlebar {
  font-family: 'Roboto', sans-serif;
  color: white;
}

.maintitle {
  font-size: xx-large;
  font-style: italic, bold;
}

.secondarytitle {
  font-size: large;
  font-style: bold;
  text-align: center;
  vertical-align: middle;
}

.timeanddate {
  text-align: center;
  font-size: large;
}