@import "~bootstrap/scss/bootstrap";

/* Global
----------------------------*/

body {
  margin-bottom: 50px;
}


/* Navigation
----------------------------*/

.nav-main {
  margin-bottom: 30px;
}

.sidebar {
  background-color: aqua;
}

.dashboard {
  background-color: darkgreen;
}

.bg-custom-light {
  background-image: linear-gradient(15deg, rgb(83, 135, 170) 0%, rgb(38, 73, 96) 100%);
  height: 30px;
}

.bg-custom-dark {
  background-image: linear-gradient(15deg, rgb(162, 193, 213) 0%, rgb(140, 160, 175) 100%);
  height: 50px;
}